@import url('https://fonts.googleapis.com/css?family=Open+Sans|Bangers');

body{
	font-family: 'Open Sans', sans-serif;
}
h1,.heading{
	font-weight: 600;
}
.shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-1{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.img-well{
	height: 300px;
	width: auto;
}
.size-18{
	font-size: 18px;
}
.img-container img{
	display: block;
	margin: auto;
	height: 400px;
	width: auto;
}
.font-comic{
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	color: #43353D;
}
.btn:focus{
	outline: none;
}
.answer{
	padding: 15px 20px;
	border-radius: 2px;
	border: 1px solid #bbb;
	cursor: pointer;
}
.img-answer{
	cursor: pointer;
	width: 300px;
	height: auto;
	overflow: hidden;
	padding: 15px 20px;
	display: block;
    margin: auto;
}
.img-centered{
	display: block;
    margin: auto;
}
.img-selected{
	border:3px solid #862197;
}